[Desktop Entry]
Type=Application
Name=Keybindings
GenericName=Keybindings Manager
Comment=Graphical frontend to modify and create Hyprland keybindings
Exec=__PLUGIN_DIR__/bin/omarchy-keybinds
Icon=preferences-desktop-keyboard-shortcuts
Terminal=false
Categories=Settings;DesktopSettings;Utility;
Keywords=keybindings;shortcuts;hyprland;hotkeys;keys;bindings;
StartupNotify=true
